CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

build/
tests/
.cache/
.clangd
.clang_format
.vscode
.idea
.DS_Store
*.in
*.out
*.ans
*.err
*.log